In [1]:
import pandas as pd
import sys

version = ".".join(map(str, sys.version_info[:3]))
print('python version ', version)
print('pandas version ',pd.__version__)

python version  3.5.2
pandas version  0.18.1

In [3]:
# Unix shell built in list files command
ls data/guardian/2012/

US_elect_county.xls

In [4]:
filename_guardian_12 = 'data/guardian/2012/US_elect_county.xls'
guardian_12_df = pd.read_excel(filename_guardian_12)
guardian_12_df.shape

WARNING *** file size (3825153) not 512 + multiple of sector size (512)

(4074, 7)

In [5]:
guardian_12_df.head(5)

  State Postal County Name  FIPS  Obama vote     %  Romney vote   %.1
0           AK      Alaska     0       91696  41.6       121234  55.0
1           AK      Alaska  2000       91696  41.6       121234  55.0
2           AL     Alabama     0      793620  38.4      1252453  60.7
3           AL     Autauga  1001        6354  26.6        17366  72.6
4           AL     Baldwin  1003       18329  21.6        65772  77.4